<ion-content>
  <ion-list>
    <ion-card *ngFor="let blog of blogs">
      <ion-card-header>
        <ion-item lines="none">
          <ion-icon style="font-size: 50px" name="person-circle" slot="start"></ion-icon>
          <ion-label>
            <strong>Posted by: {{ blog.userFullName }}</strong>
            <p>{{ blog.publicationDate | timeAgo }}</p>
            <h3>{{ blog.title }}</h3>
          </ion-label>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <div class="blog-content">
          <h1>{{blog.content}}</h1>
        </div>
        <ion-img [src]="blog.featuredImage" *ngIf="blog.featuredImage"></ion-img>
      </ion-card-content>

      <ion-row>
        <ion-col size="auto">
          <ion-button fill="clear" color="primary">
            <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="loadComments(blog.id)" fill="clear" color="primary">
            <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
            <ion-badge *ngIf="blog.commentCount >= 0">{{ blog.commentCount }} comments</ion-badge>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-text color="medium" class="ion-text-end">
            <ion-icon name="eye"></ion-icon> {{ blog.userId }} Views
          </ion-text>
        </ion-col>
      </ion-row>

      <!-- Comments Section -->
      <div *ngIf="comments.length > 0 && comments[0].blogId === blog.id">
        <ion-list>
          <ion-item *ngFor="let comment of comments">
            <ion-avatar slot="start">
              <ion-icon style="font-size: 25px" name="person-circle"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>{{ comment.userFullName }}</h3>
              <p>{{ comment.publicationDate | timeAgo }}</p>
              <p>{{ comment.text }}</p>
              <ion-button *ngIf="comment.userId === loggedUser.id" (click)="deleteComment(comment.id)" fill="clear" color="danger">
                Delete
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>

      <form [formGroup]="commentForms[blog.id]">
        <ion-item>
          <ion-input type="text" formControlName="text" placeholder="Write a comment..."></ion-input>
        </ion-item>
        <ion-button (click)="submitComment(blog.id)">Comment</ion-button>
      </form>
    </ion-card>
  </ion-list>
  <router-outlet></router-outlet>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/user/create-blog">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
